body {
    background-color: #eeeeee;
}
.nameInput{
    position:absolute;
    width:200px;
    height:100px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    z-index:999;
    display:none;
}
.shadeBox{
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.4;
    position:absolute;
    overflow:hidden;
}
.shadeBox p{
    color:#fff;
    position:absolute;
    width:600px;
    height:200px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    font-size:30px;
}
.middle {
    width: 900px;
    margin: 0 auto;
}

.wrap .allBox {
    border: 1px solid black;
    height: 550px;
    /*margin-top: 10px;*/
}

.wrap .allBox .allLeft {
    height: 100%;
    width:80%;
    background-color:skyblue;
}

.wrap .allBox .allRight {
    height: 100%;
    width:20%;
    background-color:indianred;
}

.wrap .allBox .allLeft .chatTitle{
    height:60px;
    background-color:greenyellow;
}
.wrap .allBox .allLeft .chatTitle span{
    line-height:60px;
}
.wrap .allBox .allLeft .chatMsg{
    height:360px;
    background-color:#fff;
}
.wrap .allBox .allLeft .chatControls .component{
    height:30px;
    background-color:dimgrey;
}
.wrap .allBox .allLeft .chatControls .component .conColor{
    border:none;
    outline:none;
    display:inline-block;
    width:30px;height:30px;
}
.wrap .allBox .allLeft .chatControls .sendMsg{
    height:100px;

}
.wrap .allBox .allLeft .chatControls .sendMsg textarea{
    width:662px;
    height:92px;
    font-size:14px;
}
.wrap .allBox .allLeft .chatControls .sendMsg button{
    height:101px;

}